
body {
    background-color: lightblue;
}

h1 {
    background-color: orange;
    color: white;
    padding: 20px;
    width: 100%;
    margin: 0;
}

img {
    width: 150px;
    height: 150px;
  }

  h3 {
      background-color: orange;
      color: white;
      padding: 20px;
      width: 100%;
      margin: 0;
  }
